h1 {
  color: var(--white);
  text-align: center;
}

nav {
  max-width: 500px;
  display: flex;
  align-items: center;
  flex-direction: column;
  row-gap: 24px;
  margin-left: auto;
  margin-right: auto;
}

main nav a {
  width: 480px;
  height: 45px;
  border-radius: 6px;
  border: 2px solid var(--add);
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--white);
}

