main{
    flex-direction: column;
    justify-content: center;
}

#link_input{
    text-indent: 10px;
    min-width: 15vw;
    border-radius: 16px 0 0 16px;
    min-height: 5vh;
}
#chain_link{
    min-width: 5vw;
    border-radius:0 16px 16px 0;
    min-height: 5vh;
    padding: 0 8px;
    background-color: var(--button);
    color: var(--white);
    text-wrap: wrap;
}

h2{
    color: var(--white);
    margin: 0 auto;
    text-shadow: 1px 1px 2px var(--add);
}

.short {
    height: 48px;
    line-height: 48px;
    padding: 0 8px;
    min-width: max-content;
    background-color: var(--button);
    border-radius: 16px;
    color: var(--white);
    text-align: center;
}

form{
    display: flex;
    margin: 0 auto;
}