

.describtion_box{
    display: block;
    width: 80%;
    padding: 10px;
    color: var(--white);
    background-color: var(--button);
    border-radius: 10px;
    border: 2px solid var(--add);
}

.describtion_box h2 {
    color: var(--add);
    font-size: 1.6rem;
}