h1 {
  text-align: center;
  color: var(--white);
}

input {
  border: 2px solid var(--add);
  display: block;
  max-width: 320px;
  height: 45px;
  padding: 0 10px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

form button,
form a {
  margin-left: auto;
  margin-right: auto;
}

footer{
  bottom: 0;
}
